#main-layout {
    width: 100%;
    min-height: 100vh;

    background-color: #21243d;

    display: flex;
    flex-direction: column;

    // padding: 5px;

    color: #fff;

    &__header {
        height: 64px;
        // border: 1px solid black;

        margin-bottom: 5px;
    }

    &__body {
        flex: 1;
        // border: 1px solid black;

        margin-bottom: 5px;
    }

    &__footer {
        height: 48px;

        display: flex;

        align-items: center;
        justify-content: center;

        border: 1px solid black;
    }
}
