#wallet_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1.6rem;
    color: #fff;
    cursor: pointer;

    .span {
        &_1 {
            font-weight: 500;

            position: relative;
            width: 10rem;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
}

@media screen and (max-width: 640px) {
    #wallet_wrapper {
        .span_1 {
            width: 6rem;
            padding-right: 0rem;
            overflow: hidden;
        }
    }
}

@media screen and (max-width: 380px) {
    #wallet_wrapper {
        position: relative;
        padding-right: 3rem;

        .span_1 {
            width: 6rem;
            padding-right: 2rem;
            overflow: hidden;

            &:after {
                position: absolute;
            }
        }
    }
}
